#address-select-container {
  flex-direction: column !important;
}
.select-address-button {
  background: none !important;
  border: 1px solid #db4444 !important;
  color: #db4444 !important;
}
.order-summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-card-title {
  background: #db4444;
}
.order-summary-card {
  padding: 0 !important;
  width: 100% !important;
  max-width: 600px !important;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
}
.summary-card-title .card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.summary-card-body {
  padding: 0 !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-address-title,
.product-details-title {
  font-size: 17px !important;
  font-weight: 500;
  color: #ff5959;
}
.order-user-name {
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.order-user-address {
  font-size: 14px;
  font-weight: 500;
  color: black;
}
.order-product-name {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.order-product-brand-name,
.order-product-price,
.order-product-tax,
.order-product-pay-price {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
.order-product-price-value,
.order-product-pay-price-value {
  font-size: 15px;
  font-weight: 500;
  color: #db4444 !important;
}
.selected-order-product {
  border-bottom: 1px solid #d5d5d5 !important;
}
.order-product-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.product-details-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.order-address-summary {
  border-bottom: 1px solid #d5d5d5 !important;
}
.order-product-img {
  width: 200px !important;
}
.order-product-image {
  width: 150px;
  height: 150px;
  max-width: 100% !important;
}
.order-product-qty {
  display: flex;
  gap: 10px;
}
.order-product-quantity {
  width: 50px !important;
  padding: 3px;
}
.order-place-btn,
.order-place-modal-head {
  background: #db4444 !important;
  color: #ffff !important;
}

/* ORDER HISTORY */
.order-history-container {
  display: flex !important;
  flex-direction: column !important;
}
.order-product-search {
  border-radius: 25px;
  background: #db4444;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.order-history-search-contaier {
  width: 50%;
  max-width: 350px;
}
.order-history-search-title {
  padding-left: 10px;
  color: #ffff;
  font-size: 18px;
  font-weight: 500;
}
.order-search-form {
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 20px;
}
.search-text {
  width: 100% !important;
  max-width: 90% !important;
}
#serach-order {
  width: 100%;
  border: none !important;
  padding: 4px;
}
#serach-order:focus {
  border: none !important;
  outline: none !important;
}
.order-item-details-history {
  border-bottom: 1px solid #d5d5d5 !important;
  margin: 0px !important;
  background: #ffdbdb;
  padding: 5px;
}
.order-history-details {
  border: 1px solid #d5d5d5 !important;
}
.order-items-id,
.order-date {
  font-size: 16px !important;
  color: #4a4444 !important;
  font-weight: 500 !important;
}
.ordered-image-details {
  width: 150px;
  height: 150px;
}
.order-history-btn {
  padding: 5px 10px !important;
  font-size: 16px !important;
  border-radius: 16px !important;
  color: #db4444;
  font-weight: 600;
  border: 1px solid #db4444 !important;
  background: none;
}
.order-items-details {
  display: flex !important;
  align-items: center !important;
  gap: 80px;
}
.order-items-content {
  display: flex;
  flex-direction: column;
}
.order-items-name-details {
  font-size: 18px;
  font-weight: 500;
  color: #db4444;
  text-align: center;
}
.order-items-brand-name-details,
.order-items-quantity-details {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
.order-actual-price,
.order-actual-tax,
.order-total-price,
.final-price {
  font-size: 16px;
  font-weight: 500;
}
.order-actual-price-value {
  color: #db4444;
}
.order-total-price-value {
  color: #ffa500;
}
.order-data-footer {
  border-top: 1px solid #d5d5d5 !important;
}
.ship-adress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.order-user-name {
  font-size: 17px;
  font-weight: 500;
}
.ship-address-content {
  text-align: center;
}
.order-history-section {
  padding-bottom: 70px !important;
}
