@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", serif;
}
body {
  height: 100vh !important;
}
button {
  border: none !important;
  box-shadow: none !important;
}

section {
  width: 100%;
}
/* Header */
.header-section {
  background: #ffeded !important;
}
.container {
  max-width: 1300px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 10px !important;
}
.header-content {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.brand-name {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: #db4444;
  flex: 1;
}
.user-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.btn {
  font-size: 16px !important;
  border: none;
  background: none;
}
.log-btn:hover,
.reg-btn:hover {
  background: #db4444;
  color: #fff !important;
}
.prdouct-search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  padding: 3px;
  background: #fff !important;
}
.category-navigation-section {
  background: #ffeded !important;
}
.search-icon {
  padding: 3px;
}
.search-icon i {
  color: rgb(66, 66, 66);
  font-size: 16px;
  font-weight: 600;
}
.search-text {
  padding: 3px;
}
#serach-product {
  border: none;
  padding: 3px 5px;
}
#serach-product:focus {
  border: 1px solid white !important;
  box-shadow: none !important;
  outline: none !important;
}
/* Category listing */
.category-navigation {
  background: #db4444;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.category-page-title {
  padding: 15px 0 !important;
  text-align: center;
}
.category-list-btn {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.dropdown-menu {
  display: none !important;
}
.dropdown:hover .dropdown-menu {
  display: block !important;
}
.category-list-btn {
  background: #db4444 !important;
  color: #fff !important;
}
.subcategory-link:hover {
  background: #db4444 !important;
  color: #ffff !important;
}
.subcategory-link:focus .dropdown-menu li {
  background: #db4444 !important;
}
.banner-section {
  background: #ffeded !important;
  padding-bottom: 50px;
}
.banner-container {
  display: flex;
  align-items: center;
}
.banner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
.banner-image {
  flex: 1;
}
.banner-img {
  max-width: 100%;
  height: 400px;
}
.online-shopping {
  font-size: 16px;
  font-weight: 700;
  color: #db4444;
}
.product-qlty {
  font-size: 54px;
  font-weight: 700;
  color: #db4444;
}
.info-head {
  font-size: 16px;
  font-weight: 600;
  color: #db4444;
  -webkit-text-stroke: 0.3vw #ffeded;
  flex: 1;
  position: relative;
}
.info-head::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: attr(data-text);
  color: #db4444;
  -webkit-text-stroke: 0vw #db4444;
  overflow: hidden;
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 90%;
  }
}
/* Random Products */
.random-product-section {
  padding: 30px 0;
}
.product-section-head {
  font-size: 18px;
  font-weight: 700;
  color: #db4444;
}
.product-default-img {
  background: rgb(209, 208, 208);
  height: 200px;
  max-height: 200px;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
}
.product-image-default {
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  overflow: hidden;
}
.product-card {
  width: 100%;
  max-width: 250px !important;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
  border-radius: 16px 16px 16px 16px !important;
  background: #fff !important;
}
.product-card:hover {
  transform: scale(1.04);
}
.product-names {
  font-size: 17px;
  font-weight: 700;
  color: black;
  text-align: center;
  text-decoration: none;
}
.product-names:hover {
  color: black;
  text-decoration: none;
}
.product-price {
  text-decoration: none !important;
}
.product-price h6 {
  font-size: 15px;
  font-weight: 500;
  color: #db4444;
  text-align: center;
  text-decoration: none;
  padding-bottom: 10px;
}
.product-price:hover {
  color: #db4444;
  text-align: center;
}
/* Footer */
.footer-section {
  padding: 70px 0;
  background: #4a4a4a;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
  column-gap: 75px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px !important;
}
.footer-list li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.footer-card-head {
  font-size: 16px;
  font-weight: 700;
  color: white;
}
/* User category,subcategory page */
.subcategory-section {
  padding-bottom: 100px;
}
/* Product page */
.product-container {
  width: 100%;
  max-width: 650px;
  display: flex;
  gap: 30px;
  border-radius: 16px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
  padding: 15px;
  background: #fff;
}
.product-page-image-container,
.product-page-content {
  flex: 1;
}
.product-page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-name-information {
  display: flex;
  flex-direction: column;
}
.product-page-image {
  max-width: 100%;
}
.product-section {
  padding: 70px 0;
}
.prod-name {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.prod-branch-name {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.add-to-cart,
.order-product {
  background: none;
  padding: 10px 15px !important;
  border-radius: 20px !important;
}
.product-information {
  font-size: 18px !important;
  font-weight: 500;
  color: black;
}
.product-price-info {
  color: #db4444 !important;
}
.add-to-cart {
  background: #db4444 !important;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.order-product {
  border: 1px solid #db4444 !important;
  color: #db4444;
  font-size: 16px;
  font-weight: 700;
}
/* Alert */
.alertInfo {
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.filter {
  display: flex;
  gap: 10px;
}
.filter-btn {
  background: #db4444 !important;
  padding: 8px 10px !important;
  border-radius: 16px !important;
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.modal-close-btn {
  background: #ededec !important;
  color: black !important;
}
.form-control {
  border: 1px solid #dadada !important;
}
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* CART */
.cart-section {
  padding: 40px 0 !important;
}
.cart-prod-details {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
}
.cart-prod-name {
  font-size: 16px;
  font-weight: 600;
  color: #db4444;
}
.cart-prod-brand-name {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.prod-qty-btn {
  padding: 5px 8px !important;
  font-size: 18px;
  font-weight: 600;
  background: #4a4a4a;
  color: #fff;
  border-radius: 10px;
}
.cart-prod-qty {
  font-size: 16px;
  font-weight: 600;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0px 10px !important;
}
.cart-products {
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 20px !important;
  border: 1px solid rgb(223 223 223);
}
.cart-container {
  display: flex !important;
  justify-content: space-between !important;
}
.cart-product-add-section {
  width: 100%;
  max-width: 850px;
}
.prod-qty-btns {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
}
.total-prod-price {
  font-size: 16px;
  font-weight: 600;
  color: black;
}
.cart-prod-tax,
.actual-price {
  font-size: 13px;
  font-weight: 500;
  color: black;
}
.cart-product-image {
  max-width: 100%;
  width: 100px;
  height: 100px;
}
.remove-from-cart-btn {
  background: none !important;
  padding: 8px 10px !important;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background: #db4444 !important;
  border-radius: 16px;
}

.card-product-count-input {
  width: 40px;
  border: 1px solid #db4444 !important;
  padding-left: 10px;
}
.card-product-count-input:focus {
  border: 1px solid #db4444 !important;
  box-shadow: none !important;
  outline: none !important;
}
#productRemoveModalTitle {
  font-size: 20px;
  font-weight: 600;
}
.product-remove-modal-body {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.delete-items {
  background: red !important;
  color: #fff !important;
}
.totl-price-details {
  border: 1px solid #db4444;
  border-radius: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart-product-total {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
.total-value {
  font-size: 16px;
  font-weight: 500;
  color: #db4444;
}
.cart-total-price {
  width: 50% !important;
  max-width: 350px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.bought-together-btn {
  background: none !important;
  border: 1px solid #db4444 !important;
  padding: 10px 15px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #db4444;
  width: 100%;
}
.user-profile-btn {
  background: none;
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  border: 1px solid black !important;
}
.user-profile-section {
  padding: 70px 0;
}
.user-profile-contaier {
  display: flex !important;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.card {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.3);
}
.profile-card {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center !important;
}
.profile-card-btn {
  background: #db4444 !important;
  color: #fff !important;
  border: none !important;
  width: 60px !important;
  height: 60px !important;
  font-size: 24px !important;
}
.intro {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: black !important;
}
.user-name {
  font-size: 30px !important;
  font-weight: 500 !important;
  color: black !important;
}
.user-email {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: black !important;
}
.profile-photo {
  padding: 10px !important;
}
.profile-card-title {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #ff5959 !important;
}

.profile-btn {
  background: none;
  padding: 10px 15px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 600;
}
.address-add-btn {
  background: #db4444 !important;
  color: #fff !important;
}
.order-details-btn {
  border: 1px solid #db4444 !important;
  color: #db4444 !important;
}
.address-add {
  padding: 15px 0 !important;
}
.form-error {
  background: #ffdfdf !important;
}
.error li,
.form-error li {
  color: red !important;
  font-size: 14px !important;
}
.address-add-button {
  background: #db4444 !important;
  color: #ffff !important;
}
.user-addresses {
  border: 1px solid #dddddd !important;
  align-items: center !important;
  display: flex;
  gap: 10px;
}
.user-saved-address {
  display: flex;
  gap: 10px;
  align-items: center;
}
.address-remove-btn {
  padding: 8px 10px !important;
  border-radius: 16px !important;
  background: red !important;
  color: #fff !important;
}
.address-removal {
  display: flex !important;
  justify-content: end;
  align-items: end;
}
.edit-user-detail {
  display: flex;
  justify-content: end;
  align-items: end;
}
.edit-user-detail-btn {
  padding: 8px 10px !important;
  font-size: 20px !important;
  background: none;
}
